@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:100');

body {
  font-family: "Alegreya Sans", "Helvetica Neue", Helvetica, sans-serif;
  background-image: url('Images/subtle_dots/subtle_dots.png');
}

h1 {
  font-size: 100px;
  position: relative;
  top: -30px;
}

h2 {
  font-size: 75px;
  margin-top: 200px;
}

h5 {
  font-size: 50px;
  margin-left: -15px;
  margin-right: 20px;
  /*background-image: url('Images/subtle_dots/subtle_dots.png');*/
  /*padding: 5px;*/
  /*margin-left: 20px;*/
}

h4 {
  position: absolute;
  left: auto;
  bottom: 20px;
  padding: 5px;
  background-color: #ffffff;
}

p {
  padding-top: 15px;
}

img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.row .gallery {
  margin-top: 0px;
}

.relative {
  margin: 20px auto;
  position: relative;
  height: 100px;
  width: 100px;
  overflow: hidden;
}

.margin {
  margin: 20px 0;
}

.menu {
  padding: 20px;
  align-content: center;
}

#design {
  /*background-color: #ffffff;*/
  color: #cccccc;
  border-bottom: solid 1px #cccccc;
  margin-bottom: 0px;
}

.design {
  /*background-color: #f9f9ec;*/
  /*background-color: #f9efec;*/
  background-color: #eceff9;
}

#studio {
  color: #bfbfbf;
  border-bottom: solid 1px #bfbfbf;
  margin-bottom: 0px;
}

.studio {
  background-color: #f9efec;
}

#about {
  color: #b3b3b3;
  border-bottom: solid 1px #b3b3b3;
  margin-bottom: 0px;
}

.about {
  background-color: #f9f9ec;
  margin-bottom: 200px;
  padding: 40px;
}

.profile {
  transform: translate(-50%, -40%);
}

.resize {
  width: 200px;
}

.resize2 {
  width: 300px;
}






